html,
body {
  background-color: #1a1d21;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#wrapper {
  position: relative;
  margin: auto;
}

canvas {
  background-color: black;
  margin: auto;
  padding: 0;
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  cursor: none;
}

#ui-canvas {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  /* common monospace font */
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* pleasing off white color */
  color: #cacaca;
  z-index: 2;
}

.hidden {
  display: none;
}

a {
  color: #cacaca;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}
